@import "reset.css";
@import "color.scss";


//fonts
@font-face {
    font-family: 'MonumentExtended';
    font-weight: 900;
    src: local('MonumentExtended'), url(../assets/fonts/MonumentExtended-Black.woff) format('woff');
  }
@font-face {
    font-family: 'Agrandir';
    font-weight: 900;
    src: local('Agrandir'), url(../assets/fonts/Agrandir-GrandHeavy.woff) format('woff');
  }
  @font-face {
    font-family: 'Hatton';
    font-weight: 900;
    src: local('Hatton'), url(../assets/fonts/Hatton-Ultrabold.woff) format('woff');
  }
@font-face {
    font-family: 'Telegraf';
    font-weight: 900;
    src: local('Telegraf'), url(../assets/fonts/Telegraf-UltraBold.woff) format('woff');
  }
  @font-face {
    font-family: 'Telegraf';
    font-weight: 300;
    src: local('Telegraf'), url(../assets/fonts/Telegraf-Regular.woff) format('woff');
  }
@font-face {
    font-family: 'PangranSans';
    font-weight: 300;
    src: local('PangranSans'), url(../assets/fonts/Pangram-Regular.woff) format('woff');
  }



$primaryFont: 'Telegraf', sans-serif;
$codeFont: 'IBM Plex Mono', monospace;


$font-light: 300;
$font-regular: 500;
$font-bold: 700;
$font-black: 900;






b {
    font-weight:900;
}

//paragraph style
%body-s{
    font-size:15px;
    letter-spacing: .05em;
    font-weight:400; 
    line-height: 1.5em;
}
%header-s{
    font-size:clamp(15px,2vw,18px);
    font-weight:400;
    line-height: 1.5em;
}
%header-m{
    font-size:clamp(20px,2.5vw,28px);
    font-weight:900;
    line-height: 1.3em;
}
.m-dynamic{
    font-size:clamp(23px, 2vw, 30px);
    line-height: 1.4em;
}

%header-l{
    //font-size:clamp(20px,2.5vw,28px);
    font-size:35px;
    font-size:clamp(30px,2.5vw,36px);
    font-weight:900;
    line-height: 1.3em;
}

.emphasis{
    font-weight: 700;
}
.bold{
    font-weight: 500;
}
//initialize
::selection { 
    color: $black;
    background: rgba(255, 86, 43, .99); 
}

.no-select{
    user-select: none;
}
.inline-block{
    display: inline-block;
}
a{  
    outline: 0;
    text-decoration: none; 
    position: relative;
    color:inherit;
    font-family: inherit;
    transition: color .15s ease;

    &:hover{
        text-decoration: none; 
        color:inherit;
        // color: darken( $white, 50% );
    }
}
a:hover, a:active, a:focus {
    outline: 0;  
}

a.select{
    z-index: 1;
    // text-decoration: underline;
    &:after{
        content:'';
        position: absolute;
        width:calc(100% + 8px);
        height:100%;
        opacity:0;
        background-color: $accent;
        bottom:0; left:-4px;
        z-index: -1;
        transition: .18s ease-out;
    }
    &:hover{
        color:$black;
    }
    &:hover::after{
        opacity:1;
    }
}

body, #root{
    font-family: $primaryFont;
    @extend %body-s;
    color:$white;
    position: relative;
    background-color: $black;
}
p {
    font-family: $primaryFont;
    // color:red;
    @extend %header-s;
}
h3{
    font-family: 'Telegraf','Roboto', sans-serif;
    @extend %header-l;
}
h5{
    font-family: $primaryFont;
    @extend %header-s;
}

.lighttext{
    color: $lightgrey;
}
.grey{
    color:$grey;
}
.darktext{
    color: $darkgrey;
}

//spacer
.spacer{
    display: block;
    width:100%;
    padding: 0;
    margin:0;
    &.spacer-s{
        height:1em;
    }
    &.spacer-m{
        height:2.5em;
    }
    &.spacer-l{
        height:6em;
    }
}
.inline-spacer{
    display: inline-block;
    &.inline-spacer-s{
        width:.5em;
    }
}



//function shorthands
@mixin translateY($e){
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}
@mixin translateX($e){
    -webkit-transform: translateX($e);
    -moz-transform: translateX($e);
    transform: translateX($e);
}