@import "reset.css";

// colors
$black: rgb(15,15,15);
$white: rgb(250,250,250);

//fonts
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$ibm-plex: 'IBM Plex Mono', monospace;
$notosans: 'Noto Sans', sans-serif;


$font-light: 400;
$font-regular: 500;
$font-bold: 700;
$font-black: 900;
//paragraph style
%body-s{
    font-size:13px;
    letter-spacing: .05em;
    font-weight:400;
    line-height: 1.5em;
}
%header-s{
    font-size:20px;
    font-weight:900;
    line-height: 1.3em;
}
%header-l{
    font-size:25px;
    font-weight:900;
    line-height: 1.1em;
}

//initialize
a{
    text-decoration: none; 
    color:inherit;
    font-family: inherit;
    transition: color .15s ease;
    &:hover{
        text-decoration: none; 
        color:inherit;
        // color: darken( $white, 50% );
    }
}

body{
    font-family: $notosans;
    @extend %body-s;
    color:$white;
    background:$black;
    position: relative;
    // padding: 70px;
}


//function shorthands
@mixin translateY($e){
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}
@mixin translateX($e){
    -webkit-transform: translateX($e);
    -moz-transform: translateX($e);
    transform: translateX($e);
}