@import "_config.scss";

$max-width:1290px;
// $pageMargin:70px;
$ratio_standard: 9/16;
$ratio_wide: 1/2.2;


//--------------wrappers--------------

@media only screen and (min-width: 600px) {
    $pageMargin:70px;
    .section-wrapper{
        width:100%;
        padding:$pageMargin;
        margin:auto;
    }
    .padded-wrapper{
        width:100%;
        padding: 0 $pageMargin;
        margin:auto;
    }
}
@media only screen and (max-width: 600px) {
    $pageMargin:30px;
    .section-wrapper{
        width:100%;
        padding:$pageMargin;
        margin:auto;
    }
    .padded-wrapper{
        width:100%;
        padding: 0 0;
        margin:auto;
    }
}

.nopadding{
    padding-top: 0;
    padding-bottom:0;
}
.constrained{
    max-width: $max-width;
    margin: auto;
}
.wide-wrapper{
    width:100%;
    margin:auto;
}
.project-info-body-wrapper{
    padding-bottom:2.4em;
    line-height: 1.6em;
}
.project-info-list{
    margin-bottom:.1em;
}
header{
    width:100%;
    margin:auto;
    nav{
        display: block;
        display: flex;
        align-items: center;
        // justify-content: space-between;

    }

    .siteLogo{
            display: inline-block;
            $width: 40px;
            width:$width;
            height: auto;
            margin-right:20px;
            // background-color:red;
            & a{
                width:100%;
                height:100%;
            }

            & svg{
                width:100%;
                fill:$white;
                // fill:transparent;
                stroke: $white;
                // stroke-width:8;
            }
     }

    .menu{
         display: flex;
     }
    .menu-item{ //for both web and mobile
        height: 100%;
        user-select: none;
        font-weight: $font-regular;
        font-size: 17px;
        text-transform: capitalize;
        padding: 0;
        margin-left: 2em;
        position: relative;
    }
    
}

  .nav-web a{
    &:after{
    content:'';
    position: absolute;
    width: 0%;
    height:1.2px;
    background-color: $white;
    bottom:-.3em;
    left:0;
    transition: .25s ease-out;
    }
        &:hover::after{
        width: 100%;
    }
}
.nav-web a.nav--active:after{
    content:'';
    position: absolute;
    width: 100%;
    height:1.2px;
    background-color: $white;
    bottom:-.3em;
    left:0;
    transition: .25s ease-out;
}

footer{
    background:white;
    color:$black;
    width:100%;
    min-height:70px;
}
footer li{
    font-weight: $font-regular;
}
.aboveFold{
    min-height:100vh;
}

//----------accordion--------
.card{
    border-radius: 0;
    border-width: 0px;
    background-color: transparent;
    // padding: 1em 0;
}
.accordion-head{
    cursor: pointer;
    user-select: none;
    padding: 1.2em 0;
    border-bottom: 1px solid $darkgrey;
    font-weight: $font-regular;
}
.accordion-body{
    padding: 1em 0;
    @extend %body-s;
    font-weight: $font-light;
}
.accordion li{
    margin-bottom: 1.5em;

    &:last-child{
        margin-bottom: 0;
    }
}
.project-accordion-head{
    cursor: pointer;
    user-select: none;
    padding: 1.5em 0;
    display: flex;
    align-items: center;
}



.contact li{
    margin-bottom:.3em;
    font-weight: $font-regular;
}


//----------gallery--------

.thumb{
    height:25vw;
    position: relative;
    overflow: hidden;
}
.thumb a{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}

$transit-s: .2s;

.thumb-image{
    transition: $transit-s ease-out;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(190,190,190,0);
    background-blend-mode: exclusion;
    opacity: 1;

    &:hover{
        background-color: rgba(190,190,190,1);
    }
    &:hover > .thumb-overlay{ 
        opacity: 1;
    }
    &:hover .thumb-title{
        margin-left:0px; 
        opacity: 1;
        transition-delay: 0s;
    }
    &:hover .thumb-viewmore{
        margin-left:0;
        opacity: 1;
        transition-delay: $transit-s;
    }
}
.thumb-overlay{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 5;
    opacity: 0;
    background-color: $white;
    mix-blend-mode: saturation;

    transition: $transit-s ease-in-out;
}

.thumb-info-wrapper{
        position: absolute;
        top: 0; 
        left: 0;
        opacity: 1;
        width: 100%;
        height: 100%;
        padding:1.6vw;
        text-transform: capitalize;
        color: $black;
        z-index: 10;

    &:after{
        content:'';
        position: absolute;
        left:0; top:0;
        width:100%; height:100%;
        background-color: $white;
        opacity: 0;
        z-index: -1;
        transition: $transit-s ease-in-out;
    }
    &:hover::after{
        opacity: .7;
    }
}
.thumb-title{
    display: block;
    position: relative;
    height: 100%;
    opacity:0; 
    letter-spacing: 0;
    font-family: $roboto;
    font-weight:$font-bold;
    text-transform: capitalize;
    font-size:clamp(14px, 1.3em, 19px); //title size
    
    margin-left:-20px; //aniamted distance 
    transition: $transit-s*1.5 ease-in-out;
}
.thumb-category{
    font-family: $ibm-plex;
    font-weight:$font-regular;
    font-size:clamp(7px, .7em, 14px); //meta size
    letter-spacing: 0;
    text-transform: lowercase;
}

.thumb-viewmore{
    font-family: $ibm-plex;
    font-weight:$font-regular;
    text-transform: lowercase;
    font-size:clamp(7px, .7em, 14px); //meta size
    position: absolute;
    bottom:0;
    opacity: 0;
    margin-left:-20px; //aniamted distance
    transition: $transit-s*1.5 ease-in-out;
}


//--------animated icons & btns-------------
.icon-more{
    $size: 1em;
    width: $size;
    height: $size;
    // background-color: red;
    // border-radius: 100%;
    // border:.05em solid $white;
    display: inline-block;
    position: relative;
    transition:.2s ease;

    & span{
        position: absolute;
        width:60%;
        height:.05em;
        top:50%; left:50%;
        transform-origin: 50% 50%;
        background-color: $white;
    }
    & .stroke-1{
        transform: translate(-50%,0) rotate(0);
        transition:.25s ease-out;
    }
    & .stroke-2{
        transform: translate(-50%,0) rotate(90deg);
        transition:.2s ease-out;
    }
}

.true .icon-more{
    // background-color: green;
    & .stroke-1{
        transform: translate(-50%,0) rotate(180deg);
    }
    & .stroke-2{
        transform: translate(-50%,0) rotate(180deg);
    }
}

//carousel

// a.carousel-control-next{
//     cursor: url('../assets/icon/arrow-R.png'), pointer;
// }
// a.carousel-control-prev{
//     cursor: url('../assets/icon/arrow-L.png'), pointer;
// }

// .carousel-item{
//     width: 100%;
//     min-height:100vw * $ratio_wide;
//     height: 100vw * $ratio_standard;
// }

img.d-block{
    object-fit: cover;
    width:100%;
    height:100%;
    object-position: 50% 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color:red;
    display: none;
}
.carousel-control-prev,
.carousel-control-next{
    background: none;
    width:50%;
}
.carousel-indicators li{
    height:2px;
    margin: 0 3px;
}



//breakpoints
@media only screen and (max-width: 960px) {
    .thumb{
        height:50vw;
    }
    .thumb-info-wrapper{
        padding:3vw;
    }
  }

  @media only screen and (max-width: 600px) {
    .nav-web{
        display: none;
    }
  }
