@import "reset.css";
@font-face {
  font-family: "MonumentExtended";
  font-weight: 900;
  src: local("MonumentExtended"), url(../assets/fonts/MonumentExtended-Black.woff) format("woff");
}
@font-face {
  font-family: "Agrandir";
  font-weight: 900;
  src: local("Agrandir"), url(../assets/fonts/Agrandir-GrandHeavy.woff) format("woff");
}
@font-face {
  font-family: "Hatton";
  font-weight: 900;
  src: local("Hatton"), url(../assets/fonts/Hatton-Ultrabold.woff) format("woff");
}
@font-face {
  font-family: "Telegraf";
  font-weight: 900;
  src: local("Telegraf"), url(../assets/fonts/Telegraf-UltraBold.woff) format("woff");
}
b {
  font-weight: 900;
}

.accordion-body, body, #root {
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 1.5em;
}

h5, p {
  font-size: clamp(15px,2vw,18px);
  font-weight: 400;
  line-height: 1.5em;
}

.m-dynamic {
  font-size: clamp(23px, 2vw, 30px);
  line-height: 1.4em;
}

h3 {
  font-size: 35px;
  font-size: clamp(30px,2.5vw,36px);
  font-weight: 900;
  line-height: 1.3em;
}

.emphasis {
  font-weight: 700;
}

.bold {
  font-weight: 500;
}

::selection {
  color: #181617;
  background: rgba(255, 86, 43, 0.99);
}

.no-select {
  user-select: none;
}

.inline-block {
  display: inline-block;
}

a {
  outline: 0;
  text-decoration: none;
  position: relative;
  color: inherit;
  font-family: inherit;
  transition: color 0.15s ease;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  outline: 0;
}

a.select {
  z-index: 1;
}
a.select:after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  opacity: 0;
  background-color: #ff562b;
  bottom: 0;
  left: -4px;
  z-index: -1;
  transition: 0.18s ease-out;
}
a.select:hover {
  color: #181617;
}
a.select:hover::after {
  opacity: 1;
}

body, #root {
  font-family: "Roboto", sans-serif;
  color: #eeede7;
  position: relative;
  background-color: #181617;
}

p {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Telegraf", "Roboto", sans-serif;
}

h5 {
  font-family: "Roboto", sans-serif;
}

.lighttext {
  color: #979696;
}

.grey {
  color: gray;
}

.darktext {
  color: #5c5b5b;
}

.spacer {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.spacer.spacer-s {
  height: 1em;
}
.spacer.spacer-m {
  height: 2.5em;
}
.spacer.spacer-l {
  height: 6em;
}

.inline-spacer {
  display: inline-block;
}
.inline-spacer.inline-spacer-s {
  width: 0.5em;
}

@media only screen and (min-width: 768px) {
  .section-wrapper {
    width: 100%;
    padding: 70px;
    margin: auto;
  }

  .padded-wrapper {
    width: 100%;
    padding: 0 70px;
    margin: auto;
  }

  .player-wrapper {
    padding: 0 !important;
    height: calc(100vw * 9/16);
    max-height: 720px;
    background: black;
  }

  .player-subwrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 1280px;
    max-height: 720px;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrapper {
    width: 100%;
    padding: 30px;
    margin: auto;
  }

  .padded-wrapper {
    width: 100%;
    padding: 0 0;
    margin: auto;
  }
}
.nopadding {
  padding-top: 0;
  padding-bottom: 0;
}

.constrained {
  max-width: 1290px;
  margin: auto;
}

.wide-wrapper {
  width: 100%;
  margin: auto;
}

.project-info-body-wrapper {
  padding-bottom: 2.4em;
  line-height: 1.6em;
}

.project-info-list {
  margin-bottom: 0.1em;
}

header {
  width: 100%;
  margin: auto;
}
header nav {
  display: block;
  display: flex;
  align-items: center;
}
header .siteLogo {
  display: inline-block;
  width: 40px;
  height: auto;
  margin-right: 20px;
}
header .siteLogo a {
  width: 100%;
  height: 100%;
}
header .siteLogo svg {
  width: 100%;
  fill: #eeede7;
  stroke: #eeede7;
}
header .menu {
  display: flex;
}
header .menu-item {
  height: 100%;
  user-select: none;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  padding: 0;
  margin-left: 2em;
  position: relative;
}

.nav-web a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.2px;
  background-color: #eeede7;
  bottom: -0.3em;
  left: 0;
  transition: 0.25s ease-out;
}
.nav-web a:hover::after {
  width: 100%;
}

.nav-web a.nav--active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  background-color: #eeede7;
  bottom: -0.3em;
  left: 0;
  transition: 0.25s ease-out;
}

footer {
  background: white;
  color: #181617;
  width: 100%;
  min-height: 70px;
}

footer li {
  font-weight: 500;
}

.aboveFold {
  min-height: 100vh;
}

.card {
  border-radius: 0;
  border-width: 0px;
  background-color: transparent;
}

.accordion-head {
  cursor: pointer;
  user-select: none;
  padding: 1.2em 0;
  border-bottom: 1px solid #5c5b5b;
  font-weight: 500;
}

.accordion-body {
  padding: 1em 0;
  font-weight: 300;
}

.accordion li {
  margin-bottom: 1.5em;
}
.accordion li:last-child {
  margin-bottom: 0;
}

.project-accordion-head {
  cursor: pointer;
  user-select: none;
  padding: 1.5em 0;
  display: flex;
  align-items: center;
}

.contact li {
  margin-bottom: 0.3em;
  font-weight: 500;
}

.thumb {
  height: 25vw;
  position: relative;
  overflow: hidden;
}

.thumb a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.thumb-image {
  transition: 0.2s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(190, 190, 190, 0);
  background-blend-mode: exclusion;
  opacity: 1;
}
.thumb-image:hover {
  background-color: #bebebe;
}
.thumb-image:hover > .thumb-overlay {
  opacity: 1;
}
.thumb-image:hover .thumb-title {
  margin-left: 0px;
  opacity: 1;
  transition-delay: 0s;
}
.thumb-image:hover .thumb-viewmore {
  margin-left: 0;
  opacity: 1;
  transition-delay: 0.2s;
}

.thumb-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  background-color: #eeede7;
  mix-blend-mode: saturation;
  transition: 0.2s ease-in-out;
}

.thumb-info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 1.6vw;
  text-transform: capitalize;
  color: #181617;
  z-index: 10;
}
.thumb-info-wrapper:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eeede7;
  opacity: 0;
  z-index: -1;
  transition: 0.2s ease-in-out;
}
.thumb-info-wrapper:hover::after {
  opacity: 0.7;
}

.thumb-title {
  display: block;
  position: relative;
  height: 100%;
  opacity: 0;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: clamp(14px, 130%, 25px);
  margin-left: -20px;
  transition: 0.3s ease-in-out;
}

.thumb-category {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: clamp(7px, .7em, 14px);
  letter-spacing: 0;
  text-transform: lowercase;
}

.thumb-viewmore {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  text-transform: lowercase;
  font-size: clamp(7px, .7em, 14px);
  position: absolute;
  bottom: 0;
  opacity: 0;
  margin-left: -20px;
  transition: 0.3s ease-in-out;
}

.icon-more {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
  transition: 0.2s ease;
}
.icon-more span {
  position: absolute;
  width: 60%;
  height: 0.05em;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  background-color: #eeede7;
}
.icon-more .stroke-1 {
  transform: translate(-50%, 0) rotate(0);
  transition: 0.25s ease-out;
}
.icon-more .stroke-2 {
  transform: translate(-50%, 0) rotate(90deg);
  transition: 0.2s ease-out;
}

.true .icon-more .stroke-1 {
  transform: translate(-50%, 0) rotate(180deg);
}
.true .icon-more .stroke-2 {
  transform: translate(-50%, 0) rotate(180deg);
}

img.d-block {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red;
  display: none;
}

.carousel-control-prev,
.carousel-control-next {
  background: none;
  width: 50%;
}

.carousel-indicators li {
  height: 2px;
  margin: 0 3px;
}

@media only screen and (max-width: 960px) {
  .thumb {
    height: 50vw;
  }

  .thumb-info-wrapper {
    padding: 3vw;
  }
}
@media only screen and (max-width: 600px) {
  .nav-web {
    display: none;
  }
}

/*# sourceMappingURL=App.css.map */
