@import "reset.css";
@font-face {
  font-family: "MonumentExtended";
  font-weight: 900;
  src: local("MonumentExtended"), url(../assets/fonts/MonumentExtended-Black.woff) format("woff");
}
@font-face {
  font-family: "Agrandir";
  font-weight: 900;
  src: local("Agrandir"), url(../assets/fonts/Agrandir-GrandHeavy.woff) format("woff");
}
@font-face {
  font-family: "Hatton";
  font-weight: 900;
  src: local("Hatton"), url(../assets/fonts/Hatton-Ultrabold.woff) format("woff");
}
@font-face {
  font-family: "Telegraf";
  font-weight: 900;
  src: local("Telegraf"), url(../assets/fonts/Telegraf-UltraBold.woff) format("woff");
}
@font-face {
  font-family: "Telegraf";
  font-weight: 300;
  src: local("Telegraf"), url(../assets/fonts/Telegraf-Regular.woff) format("woff");
}
@font-face {
  font-family: "PangranSans";
  font-weight: 300;
  src: local("PangranSans"), url(../assets/fonts/Pangram-Regular.woff) format("woff");
}
b {
  font-weight: 900;
}

.accordion-body, body, #root {
  font-size: 17px;
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 1.5em;
}

h5, p {
  font-size: clamp(17px,2vw,18px);
  font-weight: 400;
  line-height: 1.5em;
}

.m-dynamic {
  font-size: clamp(23px, 2vw, 30px);
  line-height: 1.4em;
}

h3 {
  font-size: 35px;
  font-size: clamp(30px,2.5vw,36px);
  font-weight: 900;
  line-height: 1.3em;
}

.emphasis {
  font-weight: 700;
}

.bold {
  font-weight: 500;
}

::selection {
  color: #181617;
  background: rgba(255, 86, 43, 0.99);
}

.no-select {
  user-select: none;
}

.inline-block {
  display: inline-block;
}

a {
  outline: 0;
  text-decoration: none;
  position: relative;
  color: inherit;
  font-family: inherit;
  transition: color 0.05s;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  outline: 0;
}

a.select {
  z-index: 1;
}
a.select:after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  opacity: 0;
  background-color: #ff562b;
  bottom: 0;
  left: -4px;
  z-index: -1;
  transition: 0.18s ease-out;
}
a.select:hover {
  color: #181617;
}
a.select:hover::after {
  opacity: 1;
}

body, #root {
  font-family: "Telegraf", sans-serif;
  color: #eeede7;
  position: relative;
  background-color: #181617;
}

p {
  font-family: "Telegraf", sans-serif;
}

h3 {
  font-family: "Telegraf", "Roboto", sans-serif;
}

h5 {
  font-family: "Telegraf", sans-serif;
}

.lighttext {
  color: #979696;
}

.grey {
  color: gray;
}

.darktext {
  color: #5c5b5b;
}

.spacer {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.spacer.spacer-s {
  height: 1em;
}
.spacer.spacer-m {
  height: 2.5em;
}
.spacer.spacer-l {
  height: 6em;
}

.inline-spacer {
  display: inline-block;
}
.inline-spacer.inline-spacer-s {
  width: 0.5em;
}

h4 {
  font-family: "Telegraf", "Roboto", sans-serif;
  font-size: clamp(20px,2.5vw,28px);
  font-weight: 900;
  line-height: 1.3em;
}

@media only screen and (min-width: 768px) {
  .section-wrapper {
    width: 100%;
    padding: 70px;
    margin: auto;
  }

  .padded-wrapper {
    width: 100%;
    padding: 0 70px;
    margin: auto;
  }

  .player-wrapper {
    padding: 0 !important;
    height: calc(100vw * 9/16);
    max-height: 720px;
    background: black;
  }

  .player-subwrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 1280px;
    max-height: 720px;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrapper {
    width: 100%;
    padding: 30px;
    margin: auto;
  }

  .padded-wrapper {
    width: 100%;
    padding: 0 0;
    margin: auto;
  }
}
.nopadding {
  padding-top: 0;
  padding-bottom: 0;
}

.constrained {
  max-width: 1320px;
  margin: auto;
}

.wide-wrapper {
  width: 100%;
  margin: auto;
}

.project-info-body-wrapper {
  padding-bottom: 2.4em;
  line-height: 1.6em;
}

.project-info-list {
  margin-bottom: 0.1em;
}

header {
  width: 100%;
  margin: auto;
}
header nav {
  display: block;
  display: flex;
  margin: 10px 0;
  align-items: center;
}
header .siteLogo {
  display: inline-block;
  width: 240px;
  height: auto;
  margin-right: 40px;
}
header .siteLogo a {
  width: 100%;
  height: 100%;
}
header .siteLogo svg {
  width: 100%;
  fill: #eeede7;
  stroke: #eeede7;
}
header .menu {
  display: flex;
}
header .menu-item {
  height: 100%;
  user-select: none;
  font-weight: 500;
  font-size: 19px;
  text-transform: capitalize;
  padding: 0;
  margin-left: 2em;
  position: relative;
}

.nav-web a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.2px;
  background-color: #eeede7;
  bottom: -0.3em;
  left: 0;
  transition: 0.25s ease-out;
}
.nav-web a:hover::after {
  width: 100%;
}

.nav-web a.nav--active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  background-color: #eeede7;
  bottom: -0.3em;
  left: 0;
  transition: 0.25s ease-out;
}

footer {
  background: #eeede7;
  color: #181617;
  width: 100%;
  min-height: 70px;
}

footer li {
  font-weight: 500;
}

.aboveFold {
  min-height: 100vh;
}

.card {
  border-radius: 0;
  border-width: 0px;
  background-color: transparent;
}

.accordion-head {
  cursor: pointer;
  user-select: none;
  padding: 1.2em 0;
  border-bottom: 1px solid #5c5b5b;
  font-weight: 500;
}

.accordion-body {
  padding: 1em 0;
  font-weight: 300;
}

.accordion li {
  margin-bottom: 1.5em;
}
.accordion li:last-child {
  margin-bottom: 0;
}

.project-accordion-head {
  cursor: pointer;
  user-select: none;
  padding: 1.5em 0;
  display: flex;
  align-items: center;
}

.contact li {
  margin-bottom: 0.3em;
  font-weight: 500;
}

.thumb {
  height: 25vw;
  position: relative;
  overflow: hidden;
}

.thumb a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.thumb-image {
  transition: 300ms ease-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(190, 190, 190, 0);
  background-blend-mode: exclusion;
  opacity: 1;
}
.thumb-image:hover > .thumb-overlay {
  opacity: 1;
}
.thumb-image:hover .thumb-title {
  margin-left: 0px;
  opacity: 1;
  transition-delay: 0s;
}
.thumb-image:hover .thumb-viewmore {
  margin-left: 0;
  opacity: 1;
  transition-delay: 100ms;
}

.thumb-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  backdrop-filter: blur(0px);
  transition: 300ms cubic-bezier(0.53, -0.005, 0, 1.005);
}

.thumb-info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 1.6vw;
  text-transform: capitalize;
  color: #181617;
  z-index: 10;
}
.thumb-info-wrapper:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eeede7;
  opacity: 0;
  z-index: -1;
  transition: 300ms cubic-bezier(0.53, -0.005, 0, 1.005);
}
.thumb-info-wrapper:hover::after {
  opacity: 1;
}
.thumb-info-wrapper:hover .thumb-overlay {
  backdrop-filter: blur(0px);
}

.thumb-title {
  display: block;
  position: relative;
  height: 100%;
  opacity: 0;
  letter-spacing: 0;
  font-family: "Telegraf", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: clamp(14px, 130%, 25px);
  margin-left: -20px;
  transition: 450ms cubic-bezier(0.53, -0.005, 0, 1.005);
}

.thumb-category {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: clamp(7px, .7em, 14px);
  letter-spacing: 0;
  text-transform: lowercase;
}

.thumb-viewmore {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  text-transform: lowercase;
  font-size: clamp(7px, .7em, 14px);
  position: absolute;
  bottom: 0;
  opacity: 0;
  margin-left: -20px;
  transition: 450ms cubic-bezier(0.53, -0.005, 0, 1.005);
}

.imageContainer {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.imageContainer img {
  width: 100%;
  height: 100%;
}

.hover-video-player {
  width: 100%;
}

.icon-more {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
  transition: 0.2s cubic-bezier(0.53, -0.005, 0, 1.005);
}
.icon-more span {
  position: absolute;
  width: 60%;
  height: 0.05em;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  background-color: #eeede7;
}
.icon-more .stroke-1 {
  transform: translate(-50%, 0) rotate(0);
  transition: 0.25s cubic-bezier(0.53, -0.005, 0, 1.005);
}
.icon-more .stroke-2 {
  transform: translate(-50%, 0) rotate(90deg);
  transition: 0.2s ease-out;
}

.true .icon-more .stroke-1 {
  transform: translate(-50%, 0) rotate(180deg);
}
.true .icon-more .stroke-2 {
  transform: translate(-50%, 0) rotate(180deg);
}

.carousel-item {
  width: 100%;
  min-height: 45.4545454545vw;
  height: 56.25vw;
}

img.d-block {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red;
  display: none;
}

.carousel-control-prev,
.carousel-control-next {
  background: none;
  width: 50%;
}

.carousel-indicators li {
  height: 2px;
  margin: 0 3px;
}

@media only screen and (max-width: 960px) {
  .thumb {
    height: 50vw;
  }

  .thumb-info-wrapper {
    padding: 3vw;
  }
}
@media only screen and (max-width: 600px) {
  .nav-web {
    display: none;
  }
}
.movable {
  width: 7em;
  height: auto;
  text-decoration: none;
  text-transform: capitalize;
  background: #181617;
  color: #eeede7;
  position: absolute;
  z-index: 999999999;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: background 0.5s;
}
.movable:after {
  font-family: "Telegraf", sans-serif;
  text-decoration: none;
  content: "hover to play";
}

.movable.active {
  background: red;
}

.movable.active:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movable.cursor-pointer:after {
  content: "!";
}

.movable.cursor-play:after {
  content: "PLAY!";
}

.movable.cursor-still:after {
  content: "this is a still";
}

.movable.cursor-hint:after {
  content: "hover to play";
}

.movable.cursor-left:after {
  content: "<";
}

.movable.cursor-right:after {
  content: ">";
}

.sides {
  position: relative;
  background: lightblue;
}

.side-right,
.side-left {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: transparent;
  border: 0;
  appearance: none;
}

.side-right {
  right: 0;
}

.side-left {
  left: 0;
}

.back-to-top .arrow-container {
  font-weight: 800;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: -50px;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  font-size: 30px;
  z-index: 1000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  overflow: auto;
  width: 70px;
  height: 70px;
  overflow: hidden;
  color: #181617;
  background-color: #ff562b;
  border-radius: 100%;
  clip-path: circle(70px at center);
}

.arrow {
  cursor: pointer;
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  background-image: url("../assets/img/upArrow.svg");
  transition: 500ms cubic-bezier(0.51, 0, 0.01, 1.005);
}

#arrow2 {
  transform: translateX(-70px);
}

.arrow-container:hover #arrow1 {
  transform: translateX(70px);
}

/*# sourceMappingURL=App.css.map */
