@import "_config.scss";

$max-width:1280px;
$pageMargin:70px;

.section-wrapper{
    width:100%;
    max-width: $max-width;
    padding:$pageMargin;
    margin:auto;
}

header{
    width:100%;
    margin:auto;
    
    .section-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .siteName{
        font-weight: $font-black;
        font-size:24px;
        display: inline-block;
    }
    nav{
        display: inline-block;
    }
    .menu-item{
        display: inline-block;
        padding: 0;
        margin-left: 2em;
    }
}

footer{
    background:$white;
    color:$black;
    width:100%;
    min-height:350px;
}

.thumbs{
    min-height:700px; //change to dynamic later
}



.horizontal-container{
    height:100vh;
    width:1000px;
}