
// colors
//$black: rgb(15,15,15);
$black: rgb(24, 22, 23);
$white: rgb(238, 237, 231);
$lightgrey: rgb(151, 150, 150);
$grey: rgb(128, 128, 128);
$darkgrey: rgb(92, 91, 91);
$accent: rgb(255, 86, 43);
